:host {
    background-color: #cccccc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: 24px;
    gap: 24px;

    a {
        display: block;
        flex: 1 1 clamp(180px, 22vw, 700px);
        text-decoration: none;

        div {
            width: 100%;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
    
}